@model SafariGolf.ViewModels.EventFormViewModel
<form class="form-horizontal" style="margin-top: 10px;">
    <fieldset>
        <div class="form-group">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        </div>

        @*<div class="form-group">
                @Html.LabelFor(m => m.EventTypeId)
                @Html.DropDownListFor(m => m.EventTypeId, new SelectList(Model.EventTypes, "Id", "Name"), "Select Event Type", new { @class = "form-control" })
            </div>*@

        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Host)
            @Html.TextBoxFor(m => m.Host, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.EventDate)
            @Html.TextBoxFor(m => m.EventDate, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Venue)
            @Html.TextBoxFor(m => m.Venue, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Address1)
            @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Address2)
            @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })
        </div>


        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.IsActive) Is event active ?
            </label>
        </div>
    </fieldset>
</form>
